body {
  background-color: #e4e5e6;
}
.container {
  margin: 70px auto;
  overflow: hidden;
  width: 80%;
  text-align: center;
}

.container li {
  list-style: none;
}

.logo {
  color: #fff;
}

.btn {
  margin: 0.25rem;
}

.btn-form {
  margin: 2rem;
}

.card {
  margin: 1rem;
}

.CardGroup {
  height: 100%;
  margin-bottom: 1rem;
}

.CardGroup-info {
  height: 100%;
  width: 100%;
  margin: 0;
}

.CardDeck {
  padding: 5rem;
}

.CardImg {
  border-top-radius: 25px;

}

.Card-info-settings {
  border-radius: 5px;
}

.Form {
  width: 25%;
  margin: 0 auto;
}