.container {
  margin: 70px auto;
  overflow: hidden;
  width: 80%;
  text-align: center;
}

.container li {
  list-style: none;
}

.btn {
  margin: .25rem;
}

.btn-form {
  margin: 2rem;
}

.card {
  margin: 1rem;
}

.CardGroup {
  height: 100%;
  
}

.CardGroup-info {
  height: 2rem;
  width: 10rem;
}